.card {
    width: 400px;
    height: 300px;
    // border: 1px solid black;
    position: relative;
    &:hover {
        background-color: rgb(236, 231, 231);
        cursor: pointer;
        transform: scale(1.05);
    }
}

.book_info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    &_text {
        padding: 0 10px;
    }
    &_img {
        padding: 10px;
    }
}

h4 {
    text-align: center;
}

span {
    font-weight: bold;
}

.button_more_info {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    &:hover {
        background-color: lightseagreen;
        color: white;
        cursor: pointer;
    }
}

.description {
    width: 100%;
    /* this code clamps based on specified lines */
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 7;
    display: -webkit-box;
}

.author {
    width: 100%;
    /* this code clamps based on specified lines */
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;
}
